<div class="calendar">
    <div class="calendar-morning">
        <img src="assets/images/morning.jpg" alt="Morning" />
        <div *ngFor="let icon of [1, 2, 3, 4]" class="gray-box"></div>
        icon
    </div>
    <div class="calendar-day">
        <img src="assets/images/day.jpg" alt="Day" />
        <div *ngFor="let icon of [1, 2, 3]" class="gray-box"></div>
        icon
    </div>
    <div class="calendar-night">
        <img src="assets/images/night.jpg" alt="Night" />
        <div *ngFor="let icon of [1, 2, 3, 4, 5]" class="gray-box"></div>
        icon
    </div>
</div>